@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
}

div {
  color: white;
  font-size: 50px;
}

.container-home {
  display: flex;
  height: calc(100vh - 100px)
}

.homeBox {
  border: 5px solid red;
  flex-basis: 100vw;
}

.inuyasha-img {
  background-repeat: no-repeat;
  max-width:230px;
  max-height:230px;
  width: auto;
  height: auto;
}