@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
  overflow: auto;
}

div {
  color: white;
  font-size: 50px;
}

.container-home {
  display: flex;
  height: calc(100vh - 100px);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.homeBox {
  border: 10px solid black;
}

.cover-img {
  background-repeat: no-repeat;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
  opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: -5%;
}